html body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ee959d;
    overflow-x: hidden;
}

.container {
    position: relative;
    display: flex;
    width: 62vw;
    max-width: 1000px;
}

.sprite {
    flex: 1;
    height: 20vmin;
    border-radius: 1vmin;
    overflow: hidden;
    background-size: 1100%;
    background-position: 0;
    transition: background-position 1s steps(10);
}

.sprite1 { background-image: url('sonny1.png'); }
.sprite2 { background-image: url('sonny2.png'); }
.sprite3 { background-image: url('sonny3.png'); }
.sprite4 { background-image: url('sonny4.png'); }
.sprite5 { background-image: url('sonny5.png'); }

.sprite:hover { background-position: -1000%; }

@media screen and (max-width: 768px) {
    .container {
        width: 90vw;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 50vw;
    }
}
