@font-face {
    font-family: silkscreen;
    src: url(Silkscreen-Regular.ttf);
}

@font-face {
    font-family: lexend;
    src: url(Lexend-VariableFont_wght.ttf);
}

body, html {
    background-color: #F5CAC3;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: silkscreen;
    text-align: center;
    color: white;
    overflow-y: hidden;
}

h1 {
    font-size: 70px; 
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-size:20px; 
    margin-top: 0;
    margin-bottom: 0;
    font-family: lexend;
}


