html {
    background-color: #FFEBBC;
    font-family: monospace;
    font-size: 16;
    text-align: center;
    color: #F6D271
}

#styledtable {
    border-collapse: collapse;
}
  
#styledtable td {
    border: 2.5px solid #F6D271;
    background-color: white;
    min-width: 200px;
    height: 300px;
    text-align: center;
    font-size: 40;
}