html {
    background-color: #FFEBBC;
    font-family: monospace;
    font-size: 16;
    text-align: center;
    color: #7c5941
}

#styledtable {
    border-collapse: collapse;
}
  
#styledtable td {
    border: 3.5px solid #F6D271;
    background-color: white;
    min-width: 200px;
    height: 300px;
    text-align: center;
    font-size: 40;
}