html {
    background-color: #EADCCD;
}

#wrapper {
    position: relative;
    width: 100vw;
}

#insidedrawer2 {
    width: 100vw;
    height: 74.76vw;
}

#piece2 {
    position: absolute;
    width: 40vw;
    height: 21vw;
    top: 34.6vw;
    left: 15.1vw;
    background-image: url("piece1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
}

#piece2:hover {
    background-image: url("piece1hover.png");
}