html {
    background-color: #EADCCD;
}

#wrapper {
    position: relative;
    width: 100vw;
}

#insidetrash {
    width: 100vw;
    height: 74.76vw;
}

#piece3 {
    position: absolute;
    width: 40vw;
    height: 17vw;
    top: 22vw;
    left: 23vw;
    background-image: url("piece3.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
}

#piece3:hover {
    background-image: url("piece3hover.png");
}